# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cach
.cpython-313

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
results/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter notebooks autosave
*.ipynb_checkpoints

# Project-specific ignores
results/README.md

# Ignore earnings call XML files
data/earnings_calls/